<div class="search-block parallaxBg">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h1><strong>2회 인하대학교 프로그래밍 경진대회</strong></h1></br>
      <h1><strong>The 2nd Inha University Programming Contest</strong></h1></br>
    </div>
  </div>
</div><!--/container-->
<!--=== End Search Block ===-->

<!--=== Content Part ===-->
<div class="container">

  <div class="row promo-service">
    <div class="col-md-6 md-margin-bottom-20">
      <div class = "headline">
        <h2>상금</h2>
      </div>
      <ul class="list-unstyled margin-bottom-15">
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대상 : 총장상 및 상금 50만원</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>금상 : 총장상 및 상금 30만원</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>은상 : 총장상 및 상금 20만원</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>동상 : 총장상 및 상금 10만원</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>특별상 : 총장상 및 상금 30만원(비IT공대생으로만 이루어진 팀 중 1등)</li>

      </ul>
    </div>
    <div class="col-md-6 md-margin-bottom-20">
      <div class = "headline">
        <h2>대회 일정</h2>
      </div>
      <ul class="list-unstyled margin-bottom-15">
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>참가신청</strong> : 2016년 5월 22일 PM 11:59까지</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>예비소집</strong> : TBA(미 참가시 불이익이 있을 수 있습니다)</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>본　대회</strong> : 2016년 5월 28일 13:00 ~ 18:00 (점심식사 제공)</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i><strong>대회장소</strong> : 인하대학교(하이테크관)</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대회는 5시간 동안 진행되며, 대회가 끝난 후 문제 설명 및 시상식이 있을 예정입니다.</li>
      </ul>
    </div>
    <div class="col-md-6 md-margin-bottom-20">
      <div class = "headline">
        <h2>주의사항</h2>
      </div>
      <ul class="list-unstyled margin-bottom-15">
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>각 팀은 <b>반드시 1대의 컴퓨터</b>를 지참해서 사용해야 합니다.</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>1회 대상 및 금상 수상자는 2회 <strong>IUPC</strong> 출전이 제한됩니다.</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>대상 및 금상 수상자는 3회 <strong>IUPC</strong> 출전이 제한됩니다.</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>정해진 사이트 이외의 인터넷 사용은 부정행위로 간주됩니다.</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>팀 멤버 모두 대회당일 학생증을 지참해야 합니다.</li>
        <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>허위 정보를 기재시 불이익을 받을 수 있습니다.</li>
      </ul>
    </div>
    <div class="col-md-6 md-margin-bottom-20">
      <div class = "headline">
        <h2>주최 및 후원</h2>
      </div>
      <%= link_to 'http://cse.inha.ac.kr/', target: '_blank' do %>
        <%= image_tag 'inha-logo.png', class: 'support-logo' %>
      <% end %>
      <%= image_tag 'ctp_large_logo.png', class: 'support-logo' %>

      <%= link_to 'https://startlink.io', target: '_blank' do %>
        <%= image_tag 'startlink_black.png', class: 'support-logo' %>
      <% end %>
      <%= link_to 'https://zoyi.co/', target: '_blank' do %>
        <%= image_tag 'zoyi-logo.png', class: 'support-logo' %>
      <% end %>
    </div>
  </div>
</div>
    <!-- End Service Block -->
