<div id = "errors_container">
  <%= form_errors(@announce) %>
</div>
<%= form_for(@announce) do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "제목" %>
  </div>
  <div class="field">
    <%= f.text_area :content, class: "form-control", placeholder: "내용",  size: "20x10" %>
  </div>
  <div class="actions">
    <%= f.submit "글쓰기", class: "btn-u"%>
  </div>
<% end %>
