<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= form_for(@announce) do |f| %>
        <% if @announce.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@announce.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @announce.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "제목" %>
      </div>
      <div class="field">
        <%= f.text_area :content, class: "form-control", placeholder: "내용",  size: "20x10" %>
      </div>
      <div class="actions">
        <%= f.submit "수정", class: "btn-u"%>
      </div>
    <% end %>
    </div>
  </div>
</div>