<%= render partial: 'shared/breadcrum', locals: {menu: "공지사항"} %>
<div class="container content">
  <div class="row">
    <div class = "col-md-8 col-md-offset-2">
      <%= render partial: "shared/flash_messages", flash: flash %>
        <div class="blog margin-bottom-40">
        	<h2><a href="#"><%= @announce.title %></a></h2>
        	<div class="blog-post-tags">
        		<ul class="list-unstyled list-inline blog-info">
        			<li><i class="fa fa-calendar"></i> <%= @announce.created_at.strftime("%Y %B %m ") %></li>
        			<li><i class="fa fa-pencil"></i> <%=@announce.name %></li>
        		</ul>
        	</div>
          <%= simple_format(@announce.content.html_safe) %>

          <hr class= "margin-bottom-20">
          <%= link_to '목록', posts_path, class: "btn-u" %>
          <button type="button" class="btn-u" data-toggle ="modal" data-target = ".bs-modify-modal-sm">수정</button>
          <button type="button" class="btn-u" data-toggle ="modal" data-target = ".bs-destroy-modal-sm">삭제</button>

        </div>
      </div>
    </div>
  </div>
</div>
