<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <div class = "tag-box tag-box-v3">
        <h1 class="blog-grid-title-lg"><%= @post.title %></h1>
        <hr class="margin-bottom-20">
        <pre class = "blog-body"><%= @post.content %></pre>
        <%= link_to '삭제', posts_pass_path(@post),  class: 'btn btn-default'%>
        <%= link_to '수정', edit_post_path(@post), class: 'btn btn-default'%>
        <%= link_to '목록', posts_path, class: 'btn btn-default'%>
        <%if user_signed_in? %>
          <div class = "margin-bottom-20"></div>
          <%= render partial: "shared/new_comment" %>
        <%end%>
        <%if @post.comments.count > 0 %>
          <div class = "margin-bottom-20"></div>
          <%= render partial: "shared/comment" %>
        <%end%>  
      </div>
    </div>
  </div>
</div>

