<div class="container content">
  <div class = "col-md-8 col-md-offset-2">
    <div class = "tag-box tag-box-v3">
      <h1 class="blog-grid-title-lg"><%= @post.title %></h1>
      <hr class="margin-bottom-20">
      <pre class = "blog-body">
        <%= @post.content %>
      </pre>
      <hr class="margin-bottom-20">
      <%= link_to '삭제', new_post_path, class: 'btn btn-default'%>
      <%= link_to '수정', new_post_path, class: 'btn btn-default'%>
      <%= link_to '목록', new_post_path, class: 'btn btn-default'%>
      
    </div>
  </div>
</div>

