<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">등록</h1>
    </div>
</div>
<div class="container content">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <div class = "tag-box tag-box-v3">
        <div class="row promo-service">          
          <div class = "col-md-12">
            <div class = "headline">
              <h2>개인정보 보호 및 참가 신청 안내</h2>
            </div>
              <ul class="list-unstyled margin-bottom-40">
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>이메일 주소 및 핸드폰 번호는 대회 안내를 위해 사용합니다.</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>한글 이름과 학번은 올바른 IT공대 학생인지 확인하기 위해 이용합니다.</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>잘못된 정보를 기재시 불이익이 발생 할 수 있습니다.</li>
                <li><i class="fa fa-chevron-circle-right color-green margin-right-5"></i>입력하신 개인정보는 11월 29일 까지 보관되며 그 이후 파기합니다.</li>
              </ul>            
            <div class = "headline">
              <h2>팀 등록하기</h2>
            </div>
          </div> 
          <%= form_for(@team, url: '/register/create', method: 'post') do |f| %>
            <div class = "col-md-12">
              <div class="form-group">
                <%= f.text_field :name, placeholder: "팀 이름을 입력하세요. 알파벳, 공백 숫자 조합만 가능합니다.", class: "form-control register" %>
              </div>        
            </div>
            <%= f.fields_for :participants do |p|%>
              <div class = "col-md-4">
                <h4>팀원</h4>
                <div class="form-group">
                  <%= p.text_field :name, placeholder: "이름을 입력하세요", class: "form-control register" %>                 
                </div>
                <div class="form-group">  
                  <%= p.email_field :email, placeholder: "이메일을 입력하세요", class: "form-control register"%>
                </div>
                <div class="form-group">
                  <%= p.text_field :phone, placeholder: "핸드폰 번호를 입력하세요(숫자만)", class: "form-control register" %>
                </div>
                <div class="form-group">
                  <%= p.text_field :sn, placeholder: "학번을 입력하세요", class: "form-control register" %>
                </div>
                <div class="form-group">
                  <%= p.select(:role, [["전공"], ["부전공"], ["복수전공"]], {}, { :class => 'form-control'} )%>
                </div>
                <div class="form-group">
                  <%= p.select(:major, [["전기공학과"], ["전자공학과"], ["컴퓨터정보공학과"], ["정보통신공학과"]], {}, { :class => 'form-control'} )%>
                </div>
                
              </div>
            <% end%>
            <div class = "col-md-12">
              <div class="form-action">
                <%= f.submit "등록", class: "btn-u col-md-12" %>
              </div>        
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>